body
{
    margin: 0;
    padding: 0;
    font-family:system-ui;
}
.home
{
  margin-top: 80px;

}
.home-content {
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
  .home-content .content {
    flex: 1;
    width: 100%;
    text-align: left;
}
  .home  h1 {
    background-color: rgb(78, 113, 113);
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    display: inline-block;
    font-size: 2rem;
    text-align: center;
  }
  .home-content .content p {
    font-size: 1.2rem;
    margin-bottom: 15px;
    width: 70%;
  }
  .home-content .image {
    flex: 1;
    width: 100%;
    text-align: right;
  }
  .home-content .image img {
    width: 60%;
    animation: moveUpDown 2s infinite ease-in-out;
  }
  @keyframes moveUpDown {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-30px);
    }
  }